In [1]:
age1 = 39
age2 = 30
age3 = 27
age4 = 18

print(age1)
print(age2)
print(age3)
print(age4)

39
30
27
18

In [2]:
ages = [39, 30, 27, 18]

In [3]:
type(ages)

list

In [4]:
len(ages)

4

In [5]:
ages[0]

39

In [6]:
ages

[39, 30, 27, 18]

In [7]:
print(ages[1])
print(ages[2])
print(ages[3])

30
27
18

In [8]:
ages.append(15)

In [9]:
ages

[39, 30, 27, 18, 15]

In [10]:
ages[4]

15

In [11]:
ages[5]

IndexError: list index out of range

In [12]:
for age in ages:
    print(age)

39
30
27
18
15

In [13]:
ages.remove(30)

In [14]:
ages

[39, 27, 18, 15]

In [15]:
ages.remove(30)

ValueError: list.remove(x): x not in list

In [16]:
ages.append(15)

In [17]:
ages

[39, 27, 18, 15, 15]

In [18]:
ages.remove(15)

In [19]:
ages

[39, 27, 18, 15]

In [20]:
ages.append(27)
ages.remove(27)
ages

[39, 18, 15, 27]

In [21]:
28 in ages

False

In [22]:
15 in ages

True

In [23]:
if 15 in ages:
    ages.remove(15)

In [24]:
ages

[39, 18, 27]

In [25]:
if 28 in ages:
    ages.remove(28)

In [26]:
ages

[39, 18, 27]

In [27]:
ages.append(19)
ages

[39, 18, 27, 19]

In [28]:
ages.insert(0, 20)
ages

[20, 39, 18, 27, 19]

In [29]:
ages = [20, 39, 18]
ages

[20, 39, 18]

In [30]:
ages.append([27, 19])

In [31]:
ages

[20, 39, 18, [27, 19]]

In [32]:
for element in ages:
    print ('I received the element', element)

I received the element 20
I received the element 39
I received the element 18
I received the element [27, 19]

In [33]:
ages = [20, 39, 18]
ages.extend([27, 19])
ages

[20, 39, 18, 27, 19]

In [34]:
for age in ages:
    print(age + 1)

21
40
19
28
20

In [35]:
ages_next_year = []
for age in ages:
    ages_next_year.append(age + 1)
ages_next_year

[21, 40, 19, 28, 20]

In [36]:
ages_next_year = [age + 1 for age in ages]
ages_next_year

[21, 40, 19, 28, 20]

In [37]:
[age for age in ages if age > 21]

[39, 27]

In [38]:
ages

[20, 39, 18, 27, 19]

In [39]:
def next_year(age):
    return age + 1

[next_year(age) for age in ages if age > 21]

[40, 28]

In [40]:
def do_visualization_processing(some_list):
    print(len(some_list))
    some_list.append(13)

In [41]:
ages = [16, 21, 29, 56, 43]
do_visualization_processing(ages)
ages

5

[16, 21, 29, 56, 43, 13]

In [42]:
def do_visualization_processing(some_list=[]):
    print(len(some_list))
    print(some_list)
    some_list.append(13)

In [43]:
do_visualization_processing()

0
[]

In [44]:
do_visualization_processing()

1
[13]

In [45]:
do_visualization_processing()

2
[13, 13]

In [46]:
do_visualization_processing()

3
[13, 13, 13]

In [47]:
def do_visualization_processing(some_list=list()):
    print(len(some_list))
    print(some_list)
    some_list.append(13)

In [48]:
do_visualization_processing()
do_visualization_processing()

0
[]
1
[13]

In [49]:
def do_visualization_processing(some_list=None):
    if some_list is None:
        some_list = []
    print(len(some_list))
    print(some_list)
    some_list.append(13)

In [50]:
do_visualization_processing()
do_visualization_processing()
do_visualization_processing()
do_visualization_processing()

0
[]
0
[]
0
[]
0
[]

# Own objects

In [51]:
class CurrentAccount:
    def __init__(self, code):
        self.code = code
        self.balance = 0

    def deposit(self, value):
        self.balance += value

    def __str__(self):
        return f"[>>Code {self.code} Balance {self.balance}<<]"

In [52]:
gui_account = CurrentAccount(15)
print(gui_account)

[>>Code 15 Balance 0<<]

In [53]:
gui_account.deposit(500)
print(gui_account)

[>>Code 15 Balance 500<<]

In [54]:
dani_account = CurrentAccount(47685)
dani_account.deposit(1000)
print(dani_account)

[>>Code 47685 Balance 1000<<]

In [55]:
accounts = [gui_account, dani_account]
for account in accounts:
    print(account)

[>>Code 15 Balance 500<<]
[>>Code 47685 Balance 1000<<]

In [56]:
accounts = [gui_account, dani_account, gui_account]

In [57]:
print(accounts[0])

[>>Code 15 Balance 500<<]

In [58]:
gui_account.deposit(100)

In [59]:
print(accounts[0])

[>>Code 15 Balance 600<<]

In [60]:
print(gui_account)

[>>Code 15 Balance 600<<]

In [61]:
print(accounts[2])

[>>Code 15 Balance 600<<]

In [62]:
accounts[2].deposit(300)

In [63]:
print(gui_account)

[>>Code 15 Balance 900<<]

In [64]:
def deposit_in_all(accounts):
    for account in accounts:
        account.deposit(100)

accounts = [gui_account, dani_account]
print(accounts[0], accounts[1])
deposit_in_all(accounts)
print(accounts[0], accounts[1])

[>>Code 15 Balance 900<<] [>>Code 47685 Balance 1000<<]
[>>Code 15 Balance 1000<<] [>>Code 47685 Balance 1100<<]

In [65]:
accounts.insert(0, 76)
print(accounts[0], accounts[1], accounts[2])

76 [>>Code 15 Balance 1000<<] [>>Code 47685 Balance 1100<<]

In [66]:
deposit_in_all(accounts)
print(accounts[0], accounts[1], accounts[2])

AttributeError: 'int' object has no attribute 'deposit'

In [67]:
guilherme = ('Guilherme', 37, 1981)
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # ruim

In [68]:
guilherme.append(6754)

AttributeError: 'tuple' object has no attribute 'append'

In [69]:
gui_account = (15, 1000)
# gui_account.deposit() # OO variation
gui_account[1]

1000

In [70]:
gui_account[1] += 100

TypeError: 'tuple' object does not support item assignment

In [71]:
def deposit(account): # "functional" variation (separating behavior from data)
    new_balance = account[1] + 100
    code = account[0]
    return (code, new_balance)

In [72]:
deposit(gui_account)

(15, 1100)

In [73]:
gui_account

(15, 1000)

In [74]:
gui_account = deposit(gui_account)
gui_account

(15, 1100)

In [75]:
users = [guilherme, daniela]
users

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [76]:
users.append(('Paulo', 39, 1979))

In [77]:
users

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [78]:
users[0][0] = 'Guilherme Silveira'

TypeError: 'tuple' object does not support item assignment

In [79]:
gui_account = CurrentAccount(15)
gui_account.deposit(500)
dani_account = CurrentAccount(234876)
dani_account.deposit(1000)

accounts = (gui_account, dani_account)

In [80]:
accounts

(<__main__.CurrentAccount at 0x7f4311905490>,
 <__main__.CurrentAccount at 0x7f431197f5e0>)

In [81]:
for account in accounts:
    print(account)

[>>Code 15 Balance 500<<]
[>>Code 234876 Balance 1000<<]

In [82]:
accounts.append(423768)

AttributeError: 'tuple' object has no attribute 'append'

In [83]:
accounts[0].deposit(300)

In [84]:
for account in accounts:
    print(account)

[>>Code 15 Balance 800<<]
[>>Code 234876 Balance 1000<<]

# Inheritance and polymorphism

In [85]:
from abc import ABCMeta, abstractmethod

class Account(metaclass=ABCMeta):
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def deposit(self, value):
        self._balance += value

    @abstractmethod
    def the_month_passes(self):
        pass

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [86]:
print(Account(88))

TypeError: Can't instantiate abstract class Account with abstract method the_month_passes

In [87]:
class CurrentAccount(Account):
    def the_month_passes(self):
        self._balance -= 2

class SavingsAccount(Account):
    def the_month_passes(self):
        self._balance *= 1.01
        self._balance -= 3

class InvestmentAccount(Account):
    pass

In [88]:
InvestmentAccount(764)

TypeError: Can't instantiate abstract class InvestmentAccount with abstract method the_month_passes

In [89]:
account16 = CurrentAccount(16)
account16.deposit(1000)
account16.the_month_passes()
print(account16)

[>>Code 16 Balance 998<<]

In [90]:
account17 = SavingsAccount(17)
account17.deposit(1000)
account17.the_month_passes()
print(account17)

[>>Code 17 Balance 1007.0<<]

In [91]:
account16 = CurrentAccount(16)
account16.deposit(1000)
account17 = SavingsAccount(17)
account17.deposit(1000)
accounts = [account16, account17]

for account in accounts:
    account.the_month_passes()
    print(account)

[>>Code 16 Balance 998<<]
[>>Code 17 Balance 1007.0<<]

# we will avoid using the pure array. if we need numerical work it is customary to use numpy

In [92]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [93]:
arr.array('d', [1, 3.5, 'Guilherme'])

TypeError: must be real number, not str

In [94]:
import numpy as np

numbers = np.array([1, 3.5])
numbers

array([1. , 3.5])

In [95]:
numbers + 3

array([4. , 6.5])

In [96]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [97]:
account1 = SalaryAccount(37)
print(account1)

[>>Code 37 Balance 0<<]

In [98]:
account2 = SalaryAccount(37)
print(account2)

[>>Code 37 Balance 0<<]

In [99]:
account1 == account2

False

In [101]:
accounts = [account1]
account1 in accounts

True

In [102]:
account2 in accounts

False

In [103]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        return self._code == other._code

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [104]:
account1 = SalaryAccount(37)
account2 = SalaryAccount(37)
account1 == account2

True

In [105]:
account1 != account2

False

In [107]:
account1 in [account2]

True

In [108]:
account2 in [account1]

True

In [109]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        return self._code == other._code and self._balance == other._balance

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [110]:
account1 = SalaryAccount(37)
account2 = SalaryAccount(37)
account1 == account2

True

In [111]:
account1.deposit(10)

In [112]:
account1 == account2

False

In [113]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        if type(other) != SalaryAccount:
            return False
        
        return self._code == other._code and self._balance == other._balance

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [114]:
account1 = SalaryAccount(37)
account2 = CurrentAccount(37)

In [115]:
account1 == account2

False

In [117]:
isinstance(CurrentAccount(34), CurrentAccount)

True

In [118]:
isinstance(CurrentAccount(34), Account)

True

In [122]:
ages = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(ages)):
    print(i, ages[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [124]:
range(len(ages)) # lazy...

range(0, 8)

In [125]:
enumerate(ages) # lazy

In [126]:
list(range(len(ages))) # I forced the generation of values

[0, 1, 2, 3, 4, 5, 6, 7]

In [127]:
list(enumerate(ages))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [129]:
for index, age in enumerate(ages): # unpacking of the tuple
    print(index, "x", age)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [132]:
users = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

for name, age, birth_year in users: # already unpacking
    print(name)

Guilherme
Daniela
Paulo

In [133]:
for name, _, _ in users: # already unpacking, ignoring the rest
    print(name)

Guilherme
Daniela
Paulo

In [134]:
ages

[15, 87, 32, 65, 56, 32, 49, 37]

In [135]:
sorted(ages)

[15, 32, 32, 37, 49, 56, 65, 87]

In [136]:
15 < 32

True

In [137]:
list(reversed(ages))

[37, 49, 32, 56, 65, 32, 87, 15]

In [138]:
sorted(ages, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [139]:
list(reversed(sorted(ages)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [140]:
ages

[15, 87, 32, 65, 56, 32, 49, 37]

In [141]:
ages.sort()

In [142]:
ages

[15, 32, 32, 37, 49, 56, 65, 87]

In [143]:
15 < 32

True

In [147]:
names = ["Guilherme", "Daniela", "Paulo"]
sorted(names)

['Daniela', 'Guilherme', 'Paulo']

In [148]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        if type(other) != SalaryAccount:
            return False
        
        return self._code == other._code and self._balance == other._balance

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [149]:
guilherme_account = SalaryAccount(17)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(1000)

paulo_account = SalaryAccount(133)
paulo_account.deposit(510)

accounts = [guilherme_account, daniela_account, paulo_account]

In [151]:
for account in accounts:
    print(account)

[>>Code 17 Balance 500<<]
[>>Code 3 Balance 1000<<]
[>>Code 133 Balance 510<<]

In [152]:
sorted(accounts)

TypeError: '<' not supported between instances of 'SalaryAccount' and 'SalaryAccount'

In [153]:
def extract_balance(account):
    return account._balance

for account in sorted(accounts, key=extract_balance):
    print(account)

[>>Code 17 Balance 500<<]
[>>Code 133 Balance 510<<]
[>>Code 3 Balance 1000<<]

In [154]:
from operator import attrgetter

for account in sorted(accounts, key=attrgetter("_balance")):
    print(account)

[>>Code 17 Balance 500<<]
[>>Code 133 Balance 510<<]
[>>Code 3 Balance 1000<<]

In [155]:
guilherme_account < daniela_account

TypeError: '<' not supported between instances of 'SalaryAccount' and 'SalaryAccount'

In [156]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        if type(other) != SalaryAccount:
            return False
        
        return self._code == other._code and self._balance == other._balance
    
    def __lt__(self, other):
        return self._balance < other._balance

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [157]:
guilherme_account = SalaryAccount(17)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(1000)

paulo_account = SalaryAccount(133)
paulo_account.deposit(510)

accounts = [guilherme_account, daniela_account, paulo_account]

In [158]:
guilherme_account < daniela_account

True

In [159]:
guilherme_account > daniela_account

False

In [160]:
for account in sorted(accounts):
    print(account)

[>>Code 17 Balance 500<<]
[>>Code 133 Balance 510<<]
[>>Code 3 Balance 1000<<]

In [161]:
for account in sorted(accounts, reverse=True):
    print(account)

[>>Code 3 Balance 1000<<]
[>>Code 133 Balance 510<<]
[>>Code 17 Balance 500<<]

In [162]:
guilherme_account = SalaryAccount(1700)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(1000)

paulo_account = SalaryAccount(133)
paulo_account.deposit(500)

accounts = [guilherme_account, daniela_account, paulo_account]

In [163]:
for account in sorted(accounts, key=attrgetter("_balance", "_code")):
    print(account)

[>>Code 133 Balance 500<<]
[>>Code 1700 Balance 500<<]
[>>Code 3 Balance 1000<<]

In [164]:
guilherme_account = SalaryAccount(1700)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(500)

paulo_account = SalaryAccount(133)
paulo_account.deposit(500)

accounts = [guilherme_account, daniela_account, paulo_account]

In [165]:
for account in sorted(accounts, key=attrgetter("_balance", "_code")):
    print(account)

[>>Code 3 Balance 500<<]
[>>Code 133 Balance 500<<]
[>>Code 1700 Balance 500<<]

In [169]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        if type(other) != SalaryAccount:
            return False
        
        return self._code == other._code and self._balance == other._balance
    
    def __lt__(self, other):
        if (self._balance != other._balance):
            return self._balance < other._balance
        
        return self._code < other._code

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [172]:
guilherme_account = SalaryAccount(1700)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(500)

paulo_account = SalaryAccount(133)
paulo_account.deposit(500)

accounts = [guilherme_account, daniela_account, paulo_account]

In [173]:
for account in sorted(accounts):
    print(account)

[>>Code 3 Balance 500<<]
[>>Code 133 Balance 500<<]
[>>Code 1700 Balance 500<<]

In [174]:
guilherme_account = SalaryAccount(1700)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(1000)

paulo_account = SalaryAccount(133)
paulo_account.deposit(500)

accounts = [guilherme_account, daniela_account, paulo_account]

In [175]:
for account in sorted(accounts):
    print(account)

[>>Code 133 Balance 500<<]
[>>Code 1700 Balance 500<<]
[>>Code 3 Balance 1000<<]

In [176]:
guilherme_account < daniela_account

True

In [177]:
guilherme_account <= daniela_account

TypeError: '<=' not supported between instances of 'SalaryAccount' and 'SalaryAccount'

In [178]:
from functools import total_ordering

@total_ordering
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        if type(other) != SalaryAccount:
            return False
        
        return self._code == other._code and self._balance == other._balance
    
    def __lt__(self, other):
        if (self._balance != other._balance):
            return self._balance < other._balance
        
        return self._code < other._code
        
    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [179]:
guilherme_account = SalaryAccount(1700)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(1000)

paulo_account = SalaryAccount(133)
paulo_account.deposit(500)

accounts = [guilherme_account, daniela_account, paulo_account]

In [180]:
guilherme_account <= daniela_account

True

In [181]:
guilherme_account <= paulo_account

False

In [182]:
guilherme_account < guilherme_account

False

In [184]:
guilherme_account == guilherme_account

True

In [185]:
guilherme_account <= guilherme_account

True