In [1]:
age1 = 39
age2 = 30
age3 = 27
age4 = 18

print(age1)
print(age2)
print(age3)
print(age4)

39
30
27
18

In [2]:
ages = [39, 30, 27, 18]

In [3]:
type(ages)

list

In [4]:
len(ages)

4

In [5]:
ages[0]

39

In [6]:
ages

[39, 30, 27, 18]

In [7]:
print(ages[1])
print(ages[2])
print(ages[3])

30
27
18

In [8]:
ages.append(15)

In [9]:
ages

[39, 30, 27, 18, 15]

In [10]:
ages[4]

15

In [11]:
ages[5]

IndexError: list index out of range

In [12]:
for age in ages:
    print(age)

39
30
27
18
15

In [13]:
ages.remove(30)

In [14]:
ages

[39, 27, 18, 15]

In [15]:
ages.remove(30)

ValueError: list.remove(x): x not in list

In [16]:
ages.append(15)

In [17]:
ages

[39, 27, 18, 15, 15]

In [18]:
ages.remove(15)

In [19]:
ages

[39, 27, 18, 15]

In [20]:
ages.append(27)
ages.remove(27)
ages

[39, 18, 15, 27]

In [21]:
28 in ages

False

In [22]:
15 in ages

True

In [23]:
if 15 in ages:
    ages.remove(15)

In [24]:
ages

[39, 18, 27]

In [25]:
if 28 in ages:
    ages.remove(28)

In [26]:
ages

[39, 18, 27]

In [27]:
ages.append(19)
ages

[39, 18, 27, 19]

In [28]:
ages.insert(0, 20)
ages

[20, 39, 18, 27, 19]

In [29]:
ages = [20, 39, 18]
ages

[20, 39, 18]

In [30]:
ages.append([27, 19])

In [31]:
ages

[20, 39, 18, [27, 19]]

In [32]:
for element in ages:
    print ('I received the element', element)

I received the element 20
I received the element 39
I received the element 18
I received the element [27, 19]

In [33]:
# sourcery skip: merge-list-extend
ages = [20, 39, 18]
ages.extend([27, 19])
ages

[20, 39, 18, 27, 19]

In [34]:
for age in ages:
    print(age + 1)

21
40
19
28
20

In [35]:
# sourcery skip: for-append-to-extend, list-comprehension
ages_next_year = []
for age in ages:
    ages_next_year.append(age + 1)
ages_next_year

[21, 40, 19, 28, 20]

In [36]:
ages_next_year = [age + 1 for age in ages]
ages_next_year

[21, 40, 19, 28, 20]

In [37]:
[age for age in ages if age > 21]

[39, 27]

In [38]:
ages

[20, 39, 18, 27, 19]

In [39]:
def next_year(age):
    return age + 1

[next_year(age) for age in ages if age > 21]

[40, 28]

In [40]:
def do_visualization_processing(some_list):
    print(len(some_list))
    some_list.append(13)

In [41]:
ages = [16, 21, 29, 56, 43]
do_visualization_processing(ages)
ages

5

[16, 21, 29, 56, 43, 13]

In [42]:
def do_visualization_processing(some_list=[]):
    # sourcery skip: default-mutable-arg
    print(len(some_list))
    print(some_list)
    some_list.append(13)

In [43]:
do_visualization_processing()

0
[]

In [44]:
do_visualization_processing()

1
[13]

In [45]:
do_visualization_processing()

2
[13, 13]

In [46]:
do_visualization_processing()

3
[13, 13, 13]

In [47]:
def do_visualization_processing(some_list=list()):
    print(len(some_list))
    print(some_list)
    some_list.append(13)

In [48]:
do_visualization_processing()
do_visualization_processing()

0
[]
1
[13]

In [49]:
def do_visualization_processing(some_list=None):
    if some_list is None:
        some_list = []
    print(len(some_list))
    print(some_list)
    some_list.append(13)

In [50]:
do_visualization_processing()
do_visualization_processing()
do_visualization_processing()
do_visualization_processing()

0
[]
0
[]
0
[]
0
[]

# Own objects

In [51]:
class CurrentAccount:
    def __init__(self, code):
        self.code = code
        self.balance = 0

    def deposit(self, value):
        self.balance += value

    def __str__(self):
        return f"[>>Code {self.code} Balance {self.balance}<<]"

In [52]:
gui_account = CurrentAccount(15)
print(gui_account)

[>>Code 15 Balance 0<<]

In [53]:
gui_account.deposit(500)
print(gui_account)

[>>Code 15 Balance 500<<]

In [54]:
dani_account = CurrentAccount(47685)
dani_account.deposit(1000)
print(dani_account)

[>>Code 47685 Balance 1000<<]

In [55]:
accounts = [gui_account, dani_account]
for account in accounts:
    print(account)

[>>Code 15 Balance 500<<]
[>>Code 47685 Balance 1000<<]

In [56]:
accounts = [gui_account, dani_account, gui_account]

In [57]:
print(accounts[0])

[>>Code 15 Balance 500<<]

In [58]:
gui_account.deposit(100)

In [59]:
print(accounts[0])

[>>Code 15 Balance 600<<]

In [60]:
print(gui_account)

[>>Code 15 Balance 600<<]

In [61]:
print(accounts[2])

[>>Code 15 Balance 600<<]

In [62]:
accounts[2].deposit(300)

In [63]:
print(gui_account)

[>>Code 15 Balance 900<<]

In [64]:
def deposit_in_all(accounts):
    for account in accounts:
        account.deposit(100)

accounts = [gui_account, dani_account]
print(accounts[0], accounts[1])
deposit_in_all(accounts)
print(accounts[0], accounts[1])

[>>Code 15 Balance 900<<] [>>Code 47685 Balance 1000<<]
[>>Code 15 Balance 1000<<] [>>Code 47685 Balance 1100<<]

In [65]:
accounts.insert(0, 76)
print(accounts[0], accounts[1], accounts[2])

76 [>>Code 15 Balance 1000<<] [>>Code 47685 Balance 1100<<]

In [66]:
deposit_in_all(accounts)
print(accounts[0], accounts[1], accounts[2])

AttributeError: 'int' object has no attribute 'deposit'

In [67]:
guilherme = ('Guilherme', 37, 1981)
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # ruim

In [68]:
guilherme.append(6754)

AttributeError: 'tuple' object has no attribute 'append'

In [69]:
gui_account = (15, 1000)
# gui_account.deposit() # OO variation
gui_account[1]

1000

In [70]:
gui_account[1] += 100

TypeError: 'tuple' object does not support item assignment

In [71]:
def deposit(account): # "functional" variation (separating behavior from data)
    new_balance = account[1] + 100
    code = account[0]
    return (code, new_balance)

In [72]:
deposit(gui_account)

(15, 1100)

In [73]:
gui_account

(15, 1000)

In [74]:
gui_account = deposit(gui_account)
gui_account

(15, 1100)

In [75]:
users = [guilherme, daniela]
users

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [76]:
users.append(('Paulo', 39, 1979))

In [77]:
users

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [78]:
users[0][0] = 'Guilherme Silveira'

TypeError: 'tuple' object does not support item assignment

In [79]:
gui_account = CurrentAccount(15)
gui_account.deposit(500)
dani_account = CurrentAccount(234876)
dani_account.deposit(1000)

accounts = (gui_account, dani_account)

In [80]:
accounts

(<__main__.CurrentAccount at 0x7fbec0253c70>,
 <__main__.CurrentAccount at 0x7fbec0494430>)

In [81]:
for account in accounts:
    print(account)

[>>Code 15 Balance 500<<]
[>>Code 234876 Balance 1000<<]

In [82]:
accounts.append(423768)

AttributeError: 'tuple' object has no attribute 'append'

In [83]:
accounts[0].deposit(300)

In [84]:
for account in accounts:
    print(account)

[>>Code 15 Balance 800<<]
[>>Code 234876 Balance 1000<<]

# Inheritance and polymorphism

In [85]:
from abc import ABCMeta, abstractmethod

class Account(metaclass=ABCMeta):
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def deposit(self, value):
        self._balance += value

    @abstractmethod
    def the_month_passes(self):
        pass

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [86]:
print(Account(88))

TypeError: Can't instantiate abstract class Account with abstract method the_month_passes

In [87]:
class CurrentAccount(Account):
    def the_month_passes(self):
        self._balance -= 2

class SavingsAccount(Account):
    def the_month_passes(self):
        self._balance *= 1.01
        self._balance -= 3

class InvestmentAccount(Account):
    pass

In [88]:
InvestmentAccount(764)

TypeError: Can't instantiate abstract class InvestmentAccount with abstract method the_month_passes

In [89]:
account16 = CurrentAccount(16)
account16.deposit(1000)
account16.the_month_passes()
print(account16)

[>>Code 16 Balance 998<<]

In [90]:
account17 = SavingsAccount(17)
account17.deposit(1000)
account17.the_month_passes()
print(account17)

[>>Code 17 Balance 1007.0<<]

In [91]:
account16 = CurrentAccount(16)
account16.deposit(1000)
account17 = SavingsAccount(17)
account17.deposit(1000)
accounts = [account16, account17]

for account in accounts:
    account.the_month_passes()
    print(account)

[>>Code 16 Balance 998<<]
[>>Code 17 Balance 1007.0<<]

# we will avoid using the pure array. if we need numerical work it is customary to use numpy

In [92]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [93]:
arr.array('d', [1, 3.5, 'Guilherme'])

TypeError: must be real number, not str

In [94]:
import numpy as np

numbers = np.array([1, 3.5])
numbers

array([1. , 3.5])

In [95]:
numbers + 3

array([4. , 6.5])

In [96]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [97]:
account1 = SalaryAccount(37)
print(account1)

[>>Code 37 Balance 0<<]

In [98]:
account2 = SalaryAccount(37)
print(account2)

[>>Code 37 Balance 0<<]

In [99]:
account1 == account2

False

In [100]:
accounts = [account1]
account1 in accounts

True

In [101]:
account2 in accounts

False

In [102]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        return self._code == other._code

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [103]:
account1 = SalaryAccount(37)
account2 = SalaryAccount(37)
account1 == account2

True

In [104]:
account1 != account2

False

In [105]:
account1 in [account2]

True

In [106]:
account2 in [account1]

True

In [107]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        return self._code == other._code and self._balance == other._balance

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [108]:
account1 = SalaryAccount(37)
account2 = SalaryAccount(37)
account1 == account2

True

In [109]:
account1.deposit(10)

In [110]:
account1 == account2

False

In [111]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        if type(other) != SalaryAccount:
            return False
        
        return self._code == other._code and self._balance == other._balance

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [112]:
account1 = SalaryAccount(37)
account2 = CurrentAccount(37)

In [113]:
account1 == account2

False

In [114]:
isinstance(CurrentAccount(34), CurrentAccount)

True

In [115]:
isinstance(CurrentAccount(34), Account)

True

In [116]:
ages = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(ages)):
    print(i, ages[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [117]:
range(len(ages)) # lazy...

range(0, 8)

In [118]:
enumerate(ages) # lazy

In [119]:
list(range(len(ages))) # I forced the generation of values

[0, 1, 2, 3, 4, 5, 6, 7]

In [120]:
list(enumerate(ages))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [121]:
for index, age in enumerate(ages): # unpacking of the tuple
    print(index, "x", age)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [122]:
users = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

for name, age, birth_year in users: # already unpacking
    print(name)

Guilherme
Daniela
Paulo

In [123]:
for name, _, _ in users: # already unpacking, ignoring the rest
    print(name)

Guilherme
Daniela
Paulo

In [124]:
ages

[15, 87, 32, 65, 56, 32, 49, 37]

In [125]:
sorted(ages)

[15, 32, 32, 37, 49, 56, 65, 87]

In [126]:
15 < 32

True

In [127]:
list(reversed(ages))

[37, 49, 32, 56, 65, 32, 87, 15]

In [128]:
sorted(ages, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [129]:
list(reversed(sorted(ages)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [130]:
ages

[15, 87, 32, 65, 56, 32, 49, 37]

In [131]:
ages.sort()

In [132]:
ages

[15, 32, 32, 37, 49, 56, 65, 87]

In [133]:
15 < 32

True

In [134]:
names = ["Guilherme", "Daniela", "Paulo"]
sorted(names)

['Daniela', 'Guilherme', 'Paulo']

In [135]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        if type(other) != SalaryAccount:
            return False
        
        return self._code == other._code and self._balance == other._balance

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [136]:
guilherme_account = SalaryAccount(17)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(1000)

paulo_account = SalaryAccount(133)
paulo_account.deposit(510)

accounts = [guilherme_account, daniela_account, paulo_account]

In [137]:
for account in accounts:
    print(account)

[>>Code 17 Balance 500<<]
[>>Code 3 Balance 1000<<]
[>>Code 133 Balance 510<<]

In [138]:
sorted(accounts)

TypeError: '<' not supported between instances of 'SalaryAccount' and 'SalaryAccount'

In [139]:
def extract_balance(account):
    return account._balance

for account in sorted(accounts, key=extract_balance):
    print(account)

[>>Code 17 Balance 500<<]
[>>Code 133 Balance 510<<]
[>>Code 3 Balance 1000<<]

In [140]:
from operator import attrgetter

for account in sorted(accounts, key=attrgetter("_balance")):
    print(account)

[>>Code 17 Balance 500<<]
[>>Code 133 Balance 510<<]
[>>Code 3 Balance 1000<<]

In [141]:
guilherme_account < daniela_account

TypeError: '<' not supported between instances of 'SalaryAccount' and 'SalaryAccount'

In [142]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        if type(other) != SalaryAccount:
            return False
        
        return self._code == other._code and self._balance == other._balance
    
    def __lt__(self, other):
        return self._balance < other._balance

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [143]:
guilherme_account = SalaryAccount(17)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(1000)

paulo_account = SalaryAccount(133)
paulo_account.deposit(510)

accounts = [guilherme_account, daniela_account, paulo_account]

In [144]:
guilherme_account < daniela_account

True

In [145]:
guilherme_account > daniela_account

False

In [146]:
for account in sorted(accounts):
    print(account)

[>>Code 17 Balance 500<<]
[>>Code 133 Balance 510<<]
[>>Code 3 Balance 1000<<]

In [147]:
for account in sorted(accounts, reverse=True):
    print(account)

[>>Code 3 Balance 1000<<]
[>>Code 133 Balance 510<<]
[>>Code 17 Balance 500<<]

In [148]:
guilherme_account = SalaryAccount(1700)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(1000)

paulo_account = SalaryAccount(133)
paulo_account.deposit(500)

accounts = [guilherme_account, daniela_account, paulo_account]

In [149]:
for account in sorted(accounts, key=attrgetter("_balance", "_code")):
    print(account)

[>>Code 133 Balance 500<<]
[>>Code 1700 Balance 500<<]
[>>Code 3 Balance 1000<<]

In [150]:
guilherme_account = SalaryAccount(1700)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(500)

paulo_account = SalaryAccount(133)
paulo_account.deposit(500)

accounts = [guilherme_account, daniela_account, paulo_account]

In [151]:
for account in sorted(accounts, key=attrgetter("_balance", "_code")):
    print(account)

[>>Code 3 Balance 500<<]
[>>Code 133 Balance 500<<]
[>>Code 1700 Balance 500<<]

In [152]:
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        if type(other) != SalaryAccount:
            return False
        
        return self._code == other._code and self._balance == other._balance
    
    def __lt__(self, other):
        if (self._balance != other._balance):
            return self._balance < other._balance
        
        return self._code < other._code

    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [153]:
guilherme_account = SalaryAccount(1700)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(500)

paulo_account = SalaryAccount(133)
paulo_account.deposit(500)

accounts = [guilherme_account, daniela_account, paulo_account]

In [154]:
for account in sorted(accounts):
    print(account)

[>>Code 3 Balance 500<<]
[>>Code 133 Balance 500<<]
[>>Code 1700 Balance 500<<]

In [155]:
guilherme_account = SalaryAccount(1700)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(1000)

paulo_account = SalaryAccount(133)
paulo_account.deposit(500)

accounts = [guilherme_account, daniela_account, paulo_account]

In [156]:
for account in sorted(accounts):
    print(account)

[>>Code 133 Balance 500<<]
[>>Code 1700 Balance 500<<]
[>>Code 3 Balance 1000<<]

In [157]:
guilherme_account < daniela_account

True

In [158]:
guilherme_account <= daniela_account

TypeError: '<=' not supported between instances of 'SalaryAccount' and 'SalaryAccount'

In [159]:
from functools import total_ordering

@total_ordering
class SalaryAccount:
    def __init__(self, code):
        self._code = code
        self._balance = 0

    def __eq__(self, other):
        if type(other) != SalaryAccount:
            return False
        
        return self._code == other._code and self._balance == other._balance
    
    def __lt__(self, other):
        if (self._balance != other._balance):
            return self._balance < other._balance
        
        return self._code < other._code
        
    def deposit(self, value):
        self._balance += value

    def __str__(self):
        return f"[>>Code {self._code} Balance {self._balance}<<]"

In [160]:
guilherme_account = SalaryAccount(1700)
guilherme_account.deposit(500)

daniela_account = SalaryAccount(3)
daniela_account.deposit(1000)

paulo_account = SalaryAccount(133)
paulo_account.deposit(500)

accounts = [guilherme_account, daniela_account, paulo_account]

In [161]:
guilherme_account <= daniela_account

True

In [162]:
guilherme_account <= paulo_account

False

In [163]:
guilherme_account < guilherme_account

False

In [164]:
guilherme_account == guilherme_account

True

In [165]:
guilherme_account <= guilherme_account

True

In [166]:
data_science_users = [15, 23, 43, 56]
machine_learning_users = [13, 23, 56, 42]

In [167]:
watched = data_science_users.copy()
watched.extend(machine_learning_users)
watched

[15, 23, 43, 56, 13, 23, 56, 42]

In [168]:
len(watched)

8

In [169]:
set(watched)

{13, 15, 23, 42, 43, 56}

In [170]:
set([1, 2, 3, 1])

{1, 2, 3}

In [171]:
{4, 1, 2, 3, 1}

{1, 2, 3, 4}

In [172]:
type({1, 2})

set

In [173]:
data_science_users = {15, 23, 43, 56}
machine_learning_users = {13, 23, 56, 42}

In [174]:
machine_learning_users

{13, 23, 42, 56}

In [175]:
machine_learning_users[3]

TypeError: 'set' object is not subscriptable

In [176]:
for user in set(watched):
    print(user)

42
43
13
15
23
56

In [177]:
data_science_users = {15, 23, 43, 56}
machine_learning_users = {13, 23, 56, 42}

In [178]:
data_science_users | machine_learning_users

{13, 15, 23, 42, 43, 56}

In [179]:
data_science_users & machine_learning_users

{23, 56}

In [180]:
data_science_users - machine_learning_users

{15, 43}

In [181]:
took_ds_but_not_ml = data_science_users - machine_learning_users
15 in took_ds_but_not_ml

True

In [182]:
23 in took_ds_but_not_ml

False

In [183]:
data_science_users ^ machine_learning_users

{13, 15, 42, 43}

In [184]:
users = {1, 5, 76, 34, 52, 13, 17}
len(users)

7

In [186]:
users.add(13)
len(users)

7

In [187]:
users.add(765)
len(users)

8

In [188]:
users

{1, 5, 13, 17, 34, 52, 76, 765}

In [189]:
users = frozenset(users)
users

frozenset({1, 5, 13, 17, 34, 52, 76, 765})

In [190]:
type(users)

frozenset

In [191]:
users.add(134)

AttributeError: 'frozenset' object has no attribute 'add'

In [226]:
my_text = "Welcome my name is Gabriel I like names a lot and I have my dogs and I like dogs a lot"
my_text.split()

['Welcome',
 'my',
 'name',
 'is',
 'Gabriel',
 'I',
 'like',
 'names',
 'a',
 'lot',
 'and',
 'I',
 'have',
 'my',
 'dogs',
 'and',
 'I',
 'like',
 'dogs',
 'a',
 'lot']

In [227]:
set(my_text.split())

{'Gabriel',
 'I',
 'Welcome',
 'a',
 'and',
 'dogs',
 'have',
 'is',
 'like',
 'lot',
 'my',
 'name',
 'names'}

# Dicionário (Mapa etc.)

In [228]:
appearances = {
    "Gabriel": 1,
    "dogs": 2,
    "name": 2,
    "Welcome": 1
}

In [229]:
type(appearances)

dict

In [230]:
appearances["Gabriel"]

1

In [231]:
appearances["dogs"]

2

In [232]:
appearances["xpto"]

KeyError: 'xpto'

In [233]:
appearances.get("xpto", 0)

0

In [234]:
appearances.get("dogs", 0)

2

In [235]:
appearances = dict(Gabriel=2, dog=1)
appearances

{'Gabriel': 2, 'dog': 1}

In [236]:
appearances = {
    "Gabriel": 1,
    "dogs": 2,
    "name": 2,
    "Welcome": 1
}

In [237]:
appearances["Carlos"] = 1

In [238]:
appearances

{'Gabriel': 1, 'dogs': 2, 'name': 2, 'Welcome': 1, 'Carlos': 1}

In [239]:
appearances["Carlos"] = 2

In [240]:
appearances

{'Gabriel': 1, 'dogs': 2, 'name': 2, 'Welcome': 1, 'Carlos': 2}

In [241]:
del appearances["Carlos"]

In [242]:
appearances

{'Gabriel': 1, 'dogs': 2, 'name': 2, 'Welcome': 1}

In [243]:
"dogs" in appearances

True

In [244]:
"Carlos" in appearances

False

In [245]:
for element in appearances:
    print(element)

Gabriel
dogs
name
Welcome

In [246]:
for element in appearances.keys():
    print(element)

Gabriel
dogs
name
Welcome

In [247]:
for element in appearances.values():
    print(element)

1
2
2
1

In [248]:
1 in appearances.values()

True

In [249]:
for element in appearances.keys():
    value = appearances[element]
    print(element, value)

Gabriel 1
dogs 2
name 2
Welcome 1

In [250]:
for element in appearances.items():
    print(element)

('Gabriel', 1)
('dogs', 2)
('name', 2)
('Welcome', 1)

In [251]:
for key, value in appearances.items():
    print(key, "=", value)

Gabriel = 1
dogs = 2
name = 2
Welcome = 1

In [252]:
[f"word {key}" for key in appearances.keys()]

['word Gabriel', 'word dogs', 'word name', 'word Welcome']

In [253]:
my_text = "Welcome my name is Gabriel I like names a lot and I have my dogs and I like dogs a lot"
my_text = my_text.lower()

appearances = {}

for word in my_text.split():
    until_now = appearances.get(word, 0)
    appearances[word] = until_now + 1

appearances

{'welcome': 1,
 'my': 2,
 'name': 1,
 'is': 1,
 'gabriel': 1,
 'i': 3,
 'like': 2,
 'names': 1,
 'a': 2,
 'lot': 2,
 'and': 2,
 'have': 1,
 'dogs': 2}

In [255]:
from collections import defaultdict

appearances = defaultdict(int)

for word in my_text.split():
    until_now = appearances[word]
    appearances[word] = until_now + 1

appearances

defaultdict(int,
            {'welcome': 1,
             'my': 2,
             'name': 1,
             'is': 1,
             'gabriel': 1,
             'i': 3,
             'like': 2,
             'names': 1,
             'a': 2,
             'lot': 2,
             'and': 2,
             'have': 1,
             'dogs': 2})

In [256]:
int()

0

In [258]:
dictionary = defaultdict(int)
dictionary['gabriel']

0

In [259]:
dictionary['gabriel'] = 15
dictionary['gabriel']

15

In [260]:
appearances = defaultdict(int)

for word in my_text.split():
    appearances[word] += 1

appearances

defaultdict(int,
            {'welcome': 1,
             'my': 2,
             'name': 1,
             'is': 1,
             'gabriel': 1,
             'i': 3,
             'like': 2,
             'names': 1,
             'a': 2,
             'lot': 2,
             'and': 2,
             'have': 1,
             'dogs': 2})

In [263]:
class Account:
    def __init__(self):
        print("Creating an account")

In [264]:
accounts = defaultdict(Account)
accounts[15]

Creating an account

In [265]:
accounts[17]

Creating an account

In [266]:
accounts[15]

In [267]:
from collections import Counter

appearances = Counter()

for word in my_text.split():
    appearances[word] += 1

appearances

Counter({'welcome': 1,
         'my': 2,
         'name': 1,
         'is': 1,
         'gabriel': 1,
         'i': 3,
         'like': 2,
         'names': 1,
         'a': 2,
         'lot': 2,
         'and': 2,
         'have': 1,
         'dogs': 2})

In [268]:
appearances = Counter(my_text.split())

appearances

Counter({'welcome': 1,
         'my': 2,
         'name': 1,
         'is': 1,
         'gabriel': 1,
         'i': 3,
         'like': 2,
         'names': 1,
         'a': 2,
         'lot': 2,
         'and': 2,
         'have': 1,
         'dogs': 2})

# Testing the use of multiple collections

In [281]:
text1 = """
Para começar a fazer vendas online, uma empresa que fabrica adesivos criou uma página para pré cadastro de cartão de crédito que contém campos como nome, idade, endereço, CPF entre outros.

O problema é que alguns cadastros não possuem um formato de CPF válido, isso porque o campo não possui nenhuma validação. Ou seja, o campo está aceitando não só números como letras e outros tipos de caractere.

O que vamos fazer é encontrar uma maneira de ajudar o usuário de forma mais clara possível a preencher o cadastro e garantir a validação no front-end antes que os dados sejam enviados para o back-end.


Como podemos notar não temos nenhuma validação, então fica confuso se devemos ou não colocar ponto ou traço no CPF e pode acontecer do usuário colocar outros caracteres no campo sem querer.

Para isso evitar que isso ocorra vamos usar o atributo pattern do HTML5 que nos permite fazer uso das famosas expressões regulares que nada mais são que padrões utilizados para selecionar caracteres em uma string.

Na nossa verificação vamos usar a lista [0-9], esse padrão indica que queremos os números de 0 até 9 e o intervalo {11}, indicando que temos que ter um número de 11 dígitos no nosso campo.

Com a adição do pattern nosso campo de CPF ficou da seguinte maneira:


Com a ajuda do pattern e das expressões regulares conseguimos resolver uma parte da tarefa, agora o que precisamos fazer encontrar uma maneira de formatar o CPF no padrão que precisamos enviar ao back-end.


Mais um pouco de Regex

Para começar vamos criar uma função que vai ser responsável por formatar o CPF. Dentro dessa função vamos ter as variáveis :

elementoAlvo: responsável pelo parâmetro que vai ser passado na função
cpfAtual: responsável por capturar os números do CPF digitados
cpfAtualizado: responsável por receber o CPF formatado.
"""

In [270]:
text2 = """
Vamos imaginar uma empresa como o Nubank, seu nome é ByteBank. A primeira vista ela vende cartões de crédito e possui uma estratégia de marketing de conteúdo para seus clientes (Business to Consumer, B2C).

Agora ela está lançando um novo cartão focado em empresas e quer criar uma estratégia de marketing de conteúdo para outras empresas (business to business, B2B).

Como eles podem criar essa estratégia? É possível utilizar ideias e ferramentas do marketing de conteúdo B2C para o B2B?

No marketing de conteúdo criado para B2C da ByteBank é muito enfatizado que as principais vantagens da empresa são:

saber o limite na hora;
não pagar qualquer tarifa e
não ter que lidar com burocracia na hora de fazer o cartão.
Então, todo o plano é focado em criar conteúdos sobre questões relacionadas ao mundo financeiro, para mostrar que a empresa é especialista no assunto, transmitindo uma confiança aos clientes.

A equipe de marketing escreveu um texto no qual foram explicadas todas as taxas do cartão de crédito. Depois de explicar com detalhes o que é cada taxa, foi mostrado o porquê do cartão dessa empresa não cobrar nenhuma delas.

Para mostrar na prática o quanto o consumidor economizaria, eles deram como um exemplo que mostram o que pode ser comprado com o dinheiro economizado em tarifas do cartão. Veja como ficou o texto:

Se a tarifa é de 30 reais por mês, depois de um ano: 30 (tarifa) * 12 (meses) = 360, você gasta R$ 360,00 só em tarifas! Não seria muito melhor comprar um Kindle ou dois jogos para Playstation 4 ou, até mesmo, ir uma vez por mês ao cinema (e pagando inteira) com esse dinheiro em vez de pagá-lo em tarifas?

Será que se pode fazer a mesma coisa para o B2B, já que não existem tarifas para empresas também?

As empresas que querem comprar um produto precisam avaliar muito bem toda a compra, sempre se perguntando se aquele produto realmente compensa para ela, principalmente a longo prazo.

Então, e se fosse dito coisas que a empresa poderia fazer com o dinheiro que também vão trazer um retorno financeiro, ao contrário das taxas dos bancos? Como fazer pesquisas com usuários, desenvolver novos produtos, treinar pessoas para marketing, entre outras coisas?

Pensando nessas diferenças, utilizamos o mesmo exemplo: quanto seria economizado por ano pela empresa cliente. Porém, no texto inteiro, queremos também mostrar dicas de como ela pode poupar, de diversas maneiras, mesmo usando um cartão de crédito. Então, o exemplo de economia no texto ficou assim:

Pensando que a tarifa para empresas é mais barata que para pessoas físicas, ou seja, de 30 reais, passa a ser 10 reais por cartão para cada colaborador, e dez cartões serão feitos, cada um pertencendo a colaborador, depois de um ano, serão pagos: 10 (de tarifa) * 10 (quantidade de cartões) * 12 (meses do ano) = 1200.

Assim, a organização gastaria R$ 1.200,00 para manter os cartões durante esse período. Agora, se os cartões não possuem tarifa nenhuma, em vez de pagar esse valor, a empresa economizará R$1.200,00.

Agora, com essa economia, você poderia investir em treinamentos ou eventos, que, após um tempo, poderiam aumentar ainda mais o retorno da empresa.

Foi usada uma linguagem mais formal do que a B2C porque quando estamos lidando com empresas temos que ser mais práticos e mostrar exatamente o que a empresa ganha, e, no caso, até como poderia ganhar mais depois.

Além dessa mudança na linguagem, tivemos ideias diferentes de conteúdo. No B2C foram apresentados conhecimentos a respeito de cada taxa, para que a pessoa entenda o que está pagando e confie em empresas que não cobra as taxas.

Agora para B2B foram apresentadas formas para economizar no cartão, pois, muitas vezes, os empresários sabem o que é cada taxa do cartão e tem que utilizá-lo mesmo assim. Então, mostramos como ele pode economizar e, uma dessas formas, é usar o cartão da ByteBank.

Nesse mesmo texto para B2B também acrescentamos o conteúdo de outra vantagem do cartão: poder determinar um limite de gastos para cada categoria nos cartões dos funcionários da empresa.

Dessa forma, os funcionários não podem gastar mais do que o determinado e, assim, a empresa consegue economizar e planejar os gastos e não extrapolar com compras dos funcionários.

O foco da comunicação B2B que utilizamos foi dar dicas para não cometer erros e economizar mais, para que a empresa perceba que utilizar o cartão é vantagem.

E caso a sua empresa seja diferente da ByteBank, seja só B2B e não tenha nenhum plano de comunicação focado para B2C para se basear?

Existem diversas empresas B2B:

as que vendem tanto para B2B quanto para B2C, como a ByteBank;
as que vendem para ambos os consumidores, mas possuem um foco maior no B2B, como a Marmotex, que tem como serviço entrega de marmitas e entregam tanto para consumidores quanto empresas, mas possuem um foco maior em organizações e catering  para eventos, ou seja, B2B
as empresas somente B2B, como as de agências de publicidade.
Cada uma das empresas que são B2B possui um produto e um serviço para mostrar.

Então, caso você trabalhe em uma empresa que não possui um plano de marketing de conteúdo para B2C para se basear, é só seguir a ideia do marketing de conteúdo, de passar informações relacionados a sua empresa, tornando-a uma autoridade no assunto. E, além disso, mostrar maneiras que o seu produto e/ou serviço pode ajudar a empresa em determinado tema.

No B2B, como no marketing de conteúdo focado no B2C, é importante frisar a importância e a relevância do produto e/ou serviço para o cliente. E, melhor, a longo prazo.

A empresa cliente precisa entender e saber que a vantagem trazida pelo produto será duradoura. Pois o processo de compra B2B é mais longo justamente porque há muito em jogo e muitas pessoas envolvidas.

Mudar de produto ou serviço é trabalhoso e pode causar prejuízo para a empresa, assim, eles buscam e precisam de garantias de que a solução funcionará por muito tempo.

Assim, como no marketing B2C, os tipos de conteúdo devem se atentar aos clientes em cada fase do funil de marketing de conteúdo para trazer o conteúdo certo para a empresa em cada momento da obtenção do cartão.

Para isso, a Bytebank utilizou dados, números, infográficos e mostrou com exemplos práticos maneiras de ajudar a contratante. Também escreveu conteúdos com histórias de empresas - os chamados cases de sucesso - que obtiveram lucro ou sucesso com o produto/serviço.

Além disso, apresentou novidades e dicas tanto da sua empresa, que passou a fornecer uma conta para pessoas físicas e jurídicas, quanto do segmento dela, com informações que podem ser úteis ao cliente do setor financeiro.

Como vimos, as principais diferenças entre os conteúdos B2C para o B2B são a linguagem, que deve ser mais formal se for B2B e apelar para o emocional se for B2C.

No B2B você estará lidando com pessoas que tomam decisões nas empresas, então deverá mostrar como o produto pode ajudar a empresa, de preferência a longo prazo.

Fora isso, o tipo de conteúdo pode ser o mesmo do marketing de conteúdo B2C. Passando desde textos sobre novidades, inovações e dicas na área, até infográficos com dados de pesquisas, vídeos, áudios de podcast, imagens e publicações nas redes sociais.

Também, para conteúdo B2B, é muito comum encontrar whitepapers, grupos de usuários, meetups, cases de sucesso, trial gratuito, e até mesmo vídeos ou campanhas e posts de marketing com influenciadores.
"""

In [292]:
def analyze_letter_frequency(text):
    appearances = Counter(text.lower())
    character_total = sum(appearances.values())

    proportions = [(letter, frequency / character_total) for letter, frequency in appearances.items()]
    proportions = Counter(dict(proportions))
    most_common = proportions.most_common(10)
    for character, proportion in most_common:
        print(f"{character} => {(proportion * 100):.2f}%")

In [293]:
analyze_letter_frequency(text1)

  => 16.14%
a => 9.61%
o => 9.45%
e => 8.68%
r => 6.75%
s => 6.37%
n => 4.17%
m => 3.62%
c => 3.57%
u => 3.57%

In [294]:
analyze_letter_frequency(text2)

  => 16.29%
a => 9.85%
e => 9.40%
o => 8.54%
s => 6.73%
r => 5.76%
m => 4.45%
t => 4.01%
i => 3.99%
n => 3.91%